<html>
    <head>
        <title>
            Movie Add
        </title>
    </head>
    <body>
        <form method="post" name="form">
            <div>
                Add New Movie
                <input type="text" name="name" placeholder="Enter Movie name"/>
                <input type="number" name="price" placeholder="Enter Moview Ticket Price"/>
                <input type = 'file' class = 'file-input' name = 'file_image' id = 'file_image'>
                <button type="submit" name="submit">Submit</button>
            </div>

        </form>
    </body>
</html>