<html>
    <head>
        <title>Display Movies
        </title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    </head>
        <body>
            <center>
            <div>
                <h1>Movie Booking System</h1>
            </div>
                <div>
                    <table border="1" class="table">
                        <th>Movie Name</th>
                        <th>Ticket Price</th>
                        {% for name in name %}

                            
                            
                                <tr>
                                    <td>
                                        <h5 class="card-title">{{ name[0] }}</h5>
                                    </td>
                                    <td>
                                        <h6 class="card-title">Rs.{{ name[1]}}</h6>
                                    </td>
                                
                               
                                    <td>
                                    <a href="/add_movie"><button type="submit" name="add_movie" id="add_movie">Add Movie</button></a>
                                    </td>
                                </tr>
                       
                        {% endfor %}
                    </table>
                </div>
            </center>
        </body>
</html>
